  .heading
  {
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    width: 100%;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    white-space:pre-line;
    font-size: 20px;
  }
  .copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    line-height: 3;
  }
body{
  background-image: url("background.jpg");
  background-size: cover;
}

  canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 160px;
  }
 